<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>3.1.2	Understanding the structure</h4>

                    </table>

                    <p>//TODO</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Nr. in picture
                            </th>
                            <th scope="col">Item
                            </th>
                            <th scope="col">Description
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1
                            </th>
                            <td>Responsible department
                            </td>
                            <td>Based on the approach, the tool contains up to 10 different departments responsible to provide inputs.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2
                            </th>
                            <td>Description
                            </td>
                            <td>Main description of the input required by the tool.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3
                            </th>
                            <td>Input
                            </td>
                            <td>Column where all the inputs in the Base_Inputs sheet are being added.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4
                            </th>
                            <td>Input Example
                            </td>
                            <td>Example of an input, helps to display the correct format.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5
                            </th>
                            <td>Additional description
                            </td>
                            <td>If the basic description is not enough, user can consult the Additional description column for more in depth information.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>