@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
    --darkColour: #242529;
    --l_dsaBlue: #000066;
    --l_BlueSmoke: #8ea7c0;
    --l_BlueCornflower: #287fc1;
    --l_Khaki: #cdc09e;
    --l_GreenCaper: #7f8056;
    --l_GreenYellow: #b0ca04;
    --l_VioletSlate: #524068;
    --l_GreenPermanent: #3aa934;
    --l_GrayMetal: #b4bbbf;
    --l_YellowJuice: #eeca00;
    --l_RedOrient: #ab0c21;
    --l_OrangeRed: #ec6600;
    --white: #ffffff;
}

@font-face {
    font-family: MyriahPro-Regular;
    src: url(fonts/MyriadPro-Regular.woff);
}

@font-face {
    font-family: MyriahPro-lt;
    src: url(fonts/MyriadPro-It.woff);
}

@font-face {
    font-family: MyriahPro-Bold;
    src: url(fonts/MyriadPro-Bold.woff);
}

body {
    background-color: var(--l_BlueCornflower);
}

.navbar {
    box-shadow: 2px 2px 4px rgb(113, 113, 113)
}



/*login start*/


.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.login-page .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.login-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login-page .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #287fc1;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.login-page .form button:hover,.form button:active,.form button:focus {
    background: #285895;
}
.login-page .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.login-page .form .message a {
    color: #287fc1;
    text-decoration: none;
}
.login-page .form .register-form {
    display: none;
}

/*login end*/





