<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <section class="my-10">
        <div class="container">
            <div class="row">
                <div  class="col-md-12">
                    <p>Download the latest version of the tool //test<a th:href="@{https://localhost:9000/files/Ramp up tool v1.5.0 - Manual.docx}" class="alert-link">here</a>.</p>
                    <p>Download the latest version of the tool //linuxTest<a th:href="@{https://indplatform:9000/files/Ramp up tool v1.5.0 - Manual.docx}" class="alert-link">here</a>.</p>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>