<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">



<head>
    <title>Ramp up Tool: Manuals</title>
</head>

<body>

<div layout:fragment="content">

    <section class="my-10">
        <div class="container">
            <div class="row">
                <div  class="col-md-12">
                    <p style="font-style: italic"> The online manual will be available in the near future.</p>
<br>

                    <h3 class="leoni">Manuals</h3>
                    <hr>
                    <a><a
                            th:href="@{http://indplatform:9000/files/Ramp up tool - quick guide.pdf}"
                            class="alert-link">Download</a> Quick guide to the tool.</a>
                    <br>
                    <a><a
                            th:href="@{http://indplatform:9000/files/Ramp up tool - Manual.pdf}"
                            class="alert-link">Download</a> the Manual to the tool.</a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>